<?xml version="1.0"?>
<launch>
  
  <node ns="r2" name="l_arm_controller" pkg="r2_action_server" type="r2_action_server" respawn="false" output="screen">
    <rosparam command="load" file="$(find r2_action_server)/config/l_arm_joints.yaml"/>
  </node>

</launch>



<!-- rosparam get /r_arm_controller/joint_trajectory_action/joints -->