<?xml version="1.0"?>
<robot name="r2_c_full_body" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
<!--      <robotNamespace>r2sim</robotNamespace>-->
      <bodyName>r2/robot_base</bodyName>
      <topicName>r2/robot_base/pose_state</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <frameName>world</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
      <interface:position name="p3d_base_position"/>
    </plugin>
    <canonicalBody>r2/robot_world</canonicalBody>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_interface" filename="libgazebo_interface.so">
<!--      <robotNamespace>r2sim</robotNamespace>-->
      <paramsNamespace>r2_sim_params</paramsNamespace>
      <jointCommandsTopic>joint_commands</jointCommandsTopic>
      <jointStatesTopic>joint_states</jointStatesTopic>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="left_gazebo_gripper" filename="libgazebo_gripper.so">
      <updateRate>10.0</updateRate> <!--Hz-->
      <gripperAttachLink>r2/left_ankle_roll</gripperAttachLink>
<!--      <gripperAttachLink>r2/waist_center</gripperAttachLink>-->
      <gripperLink>r2/left_leg_jaw0</gripperLink>
      <gripperLink>r2/left_leg_jaw1</gripperLink>
      <maxRelativeMotionRate>0.0001</maxRelativeMotionRate> <!--units/second-->
      <attachWait>2.0</attachWait> <!--seconds-->
      <detachWait>0.0</detachWait> <!--seconds-->
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="right_gazebo_gripper" filename="libgazebo_gripper.so">
      <updateRate>10.0</updateRate> <!--Hz-->
      <gripperAttachLink>r2/right_ankle_roll</gripperAttachLink>
      <gripperLink>r2/right_leg_jaw0</gripperLink>
      <gripperLink>r2/right_leg_jaw1</gripperLink>
      <maxRelativeMotionRate>0.0001</maxRelativeMotionRate> <!--units/second-->
      <attachWait>2.0</attachWait> <!--seconds-->
      <detachWait>0.0</detachWait> <!--seconds-->
    </plugin>
  </gazebo>

</robot>
